* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #ffed4c;
  --text-color: #fff;
  --bg-color: #d30000;
  --big-font: 3rem;
  --h2-font: 2.2rem;
  --p-font: 0.9rem;
}

*::selection {
  background-color: var(--main-color);
  color: #fff;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}
/*container*/
.container {
    display: flex;
    flex-direction: column;
}

/*Barra de navegação*/
header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}
.nav {
  background-color: #5c0000;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
}

#menu-icon {
    font-size: 2rem;
}

.logo {
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.5rem;
  display: flex;
  align-content: center;
  padding-right: 1rem;
}
.logo img {
  width: 5rem;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-header {
  background-color: #ffed4c;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--main-color);
  transition: 0.4s;
}

#menu-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

/*main*/
.main-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-img {
  width: 90vw;
  border-radius: 20px;
  height: 80vh;
}

.pizza-size-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}
.menu-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.menu-item img {
  width: 180px;
  height: auto;
}

.slices-count {
  font-weight: 300;
  text-align: center;
}

.pizza-size-name {
  font-weight: 600;
  text-align: center;
}
.pizza-price {
  text-align: center;
  font-weight: 200;
}

.pizza-border {
  font-weight: 200;
}
.pizza-border-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.menu-pizza-list-container {
  background-color: #eeeeee;
  height: fit-content;
  width: 100%;
  border-radius: 180px 180px 0 0;
}

.pizza-list-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  padding-top: 50px;
}
.menu-pizza-list {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 90px;
}

.pizza-name {
  color: black;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 50px;
}

.subtitle-pizza {
  color: black;
  font-weight: 300;
}

.pizza-descri {
  color: black;
}

/*Rodapé*/

.footer {
  background-color: #121213;
  width: 100%;
  height: 100%;
  float: left;
  font-size: 18px;
  padding: 50px 10px 50px 10px;
}

.footer .left {
  width: 100%;
  float: left;
  border-bottom: 1px #222424 solid;
  border-right: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer .title-footer {
  color: #ffffff;
  font-weight: initial;
  font-size: 26px;
  width: 100%;
  float: left;
  margin-bottom: 15px;
  font-style: italic;
}

/* links do rodapé*/

.footer .links {
  width: 100%;
  float: left;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 0;
}

.footer .links a {
  display: block;
  line-height: 33px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.footer .links a:hover {
  color: var(--main-color);
  transform: scale(1.3);
  text-align: center;
  transition: 1s;
}

.footer .Copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

/*Rede Sociais*/

.footer .footer-icons {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.footer .footer-icons a:hover {
  background-color: var(--main-color);
}

.footer .right {
  width: 100%;
  float: left;
}
.footer .right p {
  font-weight: initial;
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  color: #ffffff;
}

/*formulario*/

.footer form {
  width: 100%;
  float: left;
}

.footer form input,
.footer form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  outline: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;
  width: 100%;
  padding: 18px;
}

.footer ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer :-ms-input-placeholder {
  color: #5c666b;
}

.footer form input {
  width: 100%;
  height: 55px;
  float: left;
  margin-bottom: 15px;
}

.footer form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer form .btn {
  border-radius: 3px;
  background-color: #1f2022;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: left;
  cursor: pointer;
  transition: 0.3s;
}

.footer form .btn:hover {
  background-color: var(--main-color);
  transform: scale(1.2);
}

/*Responsividade do footer*/
@media (min-width: 1280px) {
  .footer {
    padding: 100px 50px 50px 100px;
  }
  .footer .Copyright {
    font-size: 16px;
  }
  .footer form input,
  .footer form textarea {
    width: 100%;
    float: left;
  }
  .footer form button {
    padding: 10px 35px;
  }
}

@media (min-width: 768px) {
  .footer .left {
    width: 48%;
    border-bottom: 0;
  }
  .footer .right {
    width: 48%;
    padding-left: 4%;
    border-left: 1px #222424 solid;
  }
  .footer form {
    margin-top: 30px;
  }
  .footer form {
    display: block;
  }
  .footer form button {
    float: none;
  }
}
/*sidebar*/

.side-bar {
  transition: left 0.5s;
}
.side-bar a:hover, li {
  transition: 0.5s;
}

.side-bar li,.side-bar a, .side-bar hr {
  left: -10000px;
  position: relative;
}

/*responsividade*/ 

@media (max-width:767px) {
    .header {
        padding: 5px;
        width: 100vw;
    }

    .navbar a {
        display: none;
    }


    #menu-icon {
        font-size: 1.8rem;
        border-radius: 10px;
        background-color: var(--bg-color);
        height: 35px;
        padding: 0px 10px;

    }
    /*menu*/

    header {
        justify-content: space-between;
    }
    .menu-list-container {
        flex-wrap: wrap;
    }
 
    .menu-pizza-list-container {
        border-radius: 50px 50px 0 0;
    }

    .menu-list-container {
        gap: 0px;
    
    }

    .menu-item {
        margin: 15px 30px 0 30px;
    }

    .menu-pizza-list {
        flex-direction: column;
        text-align: center;
    }

    .special-pizza {
        margin-top: 30px;
    }

    .pizza-name {
        white-space: nowrap;
    }

    .pizza-descri {
        font-size: 0.7rem;
    }

    .main-img {
        width: 80%;
        height: 200px;
    }
    .side-bar {
      position: fixed;
      width: fit-content;
      height: 200px;
      background-color: rgb(22, 22, 22);
      left: -1000px;
      margin: 5px;
      z-index: 1000;
      top: 107px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 6px;
      
  }
 
  .open {
    left: 0px;
    transition: 0.2s;
  }


  .side-bar a {
    color: rgb(255, 255, 255);
  }

  .side-bar a:hover, li:active{
    transform: scale(1.2);
    transition: 0.15s;
  }

  .side-bar li {
    margin-left: 10px;
  }

  .nav {
    background-color: #5c666b00;
  }

  .side-bar li,.side-bar a, .side-bar hr {
    left: 000px;
    position: relative;
  }
}
